@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Brand */
        --color-primary: 17, 86, 136;
        --color-primary-light: 81, 127, 164;
        --color-primary-dark: 48, 96, 136;

        /* Background */
        --color-background-base: 227, 232, 236; /* bg-white */
        --color-background-secondary: 250, 250, 250; /* bg-neutral-50 */
        --color-background-tertiary: 245, 245, 245; /* bg-neutral-100 */
        --color-background-muted: 255, 255, 255; /* bg-neutral-200 */
        --color-background-inverted: 38,39,42; /* bg-neutral-700 */
        --color-background-inverted-muted: 41, 37, 36; /* bg-neutral-800 */
        --color-background-overlay: 0, 0, 0; /* bg-black/50, alpha applied in config */
        --color-background-overlay-muted: 0, 0, 0; /* bg-black/80, alpha applied in config */

        /* Text */
        --color-text-base: 64, 64, 64; /* text-neutral-700 */
        --color-text-secondary: 115, 115, 115; /* text-neutral-500 */
        --color-text-tertiary: 163, 163, 163; /* text-neutral-400 */
        --color-text-base-inverted: 255, 255, 255; /* text-white */
        --color-text-link-base: 17, 86, 136;; /* primary */
        --color-text-link-base-hover: 81, 127, 164; /* primary-dark */

        /* Border and outline */
        --color-border-base: 229, 229, 229; /* border-neutral-200 */
        --color-border-secondary: 82, 82, 82; /* border-neutral-600 */
        --color-outline-base: 163, 163, 163; /* outline-neutral-400 */

        /* Icon */
        --color-icon-base: 64, 64, 64; /* text-neutral-700 */
        --color-icon-muted: 165, 166, 170; /* text-neutral-500 */
        --color-icon-inverted: 255, 255, 255; /* bg-white */
        --color-icon-like: 220, 38, 38; /* text-red-600 */
        --color-icon-repost: 22, 163, 74; /* text-green-600 */

        /* Status */
        --color-status-base: 82, 82, 82; /* text-neutral-600 */
        --color-status-success: 22, 163, 74; /* text-green-600 */
        --color-status-warning: 234, 88, 12; /* text-orange-600 */
        --color-status-danger: 220, 38, 38; /* text-red-600 */
    }
    [data-theme="2015"],[data-theme="2012"] {
        /* Brand */
        --color-primary: 17, 86, 136;
        --color-primary-light: 81, 127, 164;
        --color-primary-dark: 48, 96, 136;

        /* Background */
        --color-background-base: 227, 232, 236; /* bg-white */
        --color-background-secondary: 250, 250, 250; /* bg-neutral-50 */
        --color-background-tertiary: 245, 245, 245; /* bg-neutral-100 */
        --color-background-muted: 255, 255, 255; /* bg-neutral-200 */
        --color-background-inverted: 38,39,42; /* bg-neutral-700 */
        --color-background-inverted-muted: 41, 37, 36; /* bg-neutral-800 */
        --color-background-overlay: 0, 0, 0; /* bg-black/50, alpha applied in config */
        --color-background-overlay-muted: 0, 0, 0; /* bg-black/80, alpha applied in config */

        /* Text */
        --color-text-base: 64, 64, 64; /* text-neutral-700 */
        --color-text-secondary: 115, 115, 115; /* text-neutral-500 */
        --color-text-tertiary: 163, 163, 163; /* text-neutral-400 */
        --color-text-base-inverted: 255, 255, 255; /* text-white */
        --color-text-link-base: 17, 86, 136;; /* primary */
        --color-text-link-base-hover: 81, 127, 164; /* primary-dark */

        /* Border and outline */
        --color-border-base: 229, 229, 229; /* border-neutral-200 */
        --color-border-secondary: 82, 82, 82; /* border-neutral-600 */
        --color-outline-base: 163, 163, 163; /* outline-neutral-400 */

        /* Icon */
        --color-icon-base: 64, 64, 64; /* text-neutral-700 */
        --color-icon-muted: 165, 166, 170; /* text-neutral-500 */
        --color-icon-inverted: 255, 255, 255; /* bg-white */
        --color-icon-like: 220, 38, 38; /* text-red-600 */
        --color-icon-repost: 22, 163, 74; /* text-green-600 */

        /* Status */
        --color-status-base: 82, 82, 82; /* text-neutral-600 */
        --color-status-success: 22, 163, 74; /* text-green-600 */
        --color-status-warning: 234, 88, 12; /* text-orange-600 */
        --color-status-danger: 220, 38, 38; /* text-red-600 */

        /* Extra */
        --color-navbar: 38,39,42;
        --color-navbar-selected: 23,24,25;
    }

    html {
        background-color: var(--color-background-base);
    }

    body {
        box-sizing: border-box;
        font-family:
            "Inter",
            system-ui,
            -apple-system,
            sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        background-color: var(--color-background-base);
    }
}

@layer utilities {
    /* hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    /* hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        scrollbar-width: none; /* Firefox */
    }
}

#homeAbout {background-image: linear-gradient(#fff,rgb(var(--color-background-base)));position: relative;}
.homeBannerButton {color:#fff}
a.text-skin-link-base {font-weight: 600;max-width: 75vw;white-space: nowrap;overflow-x: clip;text-overflow: ellipsis;display: inline-block;}

[data-theme="2012"] {
    .appTop, .homepageBanner {background: linear-gradient( #517fa4, #306088);}
    #appBottom {background: linear-gradient( #616161, #444444 50%)}
    #appBottom a,
    #appBottom button {
        border: 1px solid;
        position: relative;
        border-color: #000 #000 #0003
      }
    #appBottom a::before,
    #appBottom button::before {
        content: "";
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: -1px;
        border: 1px solid;
        border-color: #ffffff20 #ffffff20 #ffffff00;
        border-radius: inherit;
    }
    #appBottom a.bg-skin-overlay {
        background: radial-gradient(farthest-corner at 50% 90%, #444,#111);
    }
    .appTop a,
    .homeBannerButton {
        padding: 0.5rem;
        border: 0.6px solid #00000096;
        border-radius: 6px;
        box-shadow: 0 0.6px 1px 0.5px #00000070 inset, 0 0.75px #ffffff4f;
        background: linear-gradient(#0000, #1225351f);
        color: #fff;
    }
    #homeAbout::before {
        content: '';
        box-shadow: 0 12px 22px 1px #0001;
        left: 0;
        right: 0;
        top: 0;
        bottom: 15%;
        position: absolute;
        z-index: -1;
    }
    .quoted-with-the-sauce {
        background-image: linear-gradient(#f5f5f500,#f5f5f5,#f5f5f500), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23e3e8ec' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
    }
}

html[data-theme="2012"].bg-skin-base,
[data-theme="2012"] div.bg-skin-base.fixed.top-0.z-40,
[data-theme="2012"] main.bg-skin-base {
    background-image: url(/images/noise.png);
    background-size: 480px;
    background-attachment: fixed;
}